<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
    <connectionStrings>
    <add name="BallShopConnection" connectionString="Server=(local)\SqlExpress; 
           Database=BallShop; User=balloonshop;Password=ecommerce"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <system.web>
    <pages theme="BallShopDefault"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US"/>
    <customErrors mode="RemoteOnly" defaultRedirect="Oops.aspx"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  
  <appSettings>
    <add key="ProductsPerPage" value="6"/>
    <add key="ProductDescriptionLength" value="60"/>
    <add key="SiteName" value="RS21 Nicaragua"/>
  </appSettings>

</configuration>